/* Header.css */

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: relative;
  top: 0;
}

.icon {
  height: 25px;
  width: 25px;
  fill: antiquewhite;
}

.icons {
  width: 100px;
}

.underline {
  text-decoration: underline;
}

.link {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  /* Remove default underline for anchor tags */
}

.link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary);
  transition: width 0.3s ease-in-out;
  display: block; /* Ensure the pseudo-element behaves as a block element */
}

.link:hover::before {
  width: 100%;
}

.highKerning {
  letter-spacing: 2px;
  flex-grow: 1;
}
